<table>
  <tr>
    <td>
      <a routerLink="public-page">[Public Page]</a>
    </td>
    <td>
      <a routerLink="restricted-page" *ngIf="isLoggedIn()" >[Restricted Page]</a>
    </td>
  </tr>
  <tr>
    
    <td>
      <button (click)="login()" *ngIf="!isLoggedIn()">Sign In</button>
    </td>
    <td>
      <button (click)="logout()" *ngIf="isLoggedIn()">Sign Out</button>
    </td>
  </tr>
</table>
<div *ngIf="isLoggedIn()">
  <h3> You are logged In </h3>
</div>

<div *ngIf="!isLoggedIn()">
  <h3> You are not logged In</h3>
</div>



<router-outlet></router-outlet>
